@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    
    <script type="text/plain" id="ascii-logo">
                                                                              ######++                                                      
                                                                  ########  ##++++++@@##                                                    
                                                              ####----######++++++++++##                                                    
                                                MM######    ##--------------    ++++++##                                                    
                                              ##MM++++++####  ..------------      ##mm##                                                    
                                              ##mm++mmmmmm              --..        ##                    ..                                
                                            ##++++++mm                            ::  ##              --######mm                            
                                            ##++++++                              ##    ##      ########      ##                            
                                            ##mm++::          mm##              ++mmmm########--      ##      ##                            
                                              ##mm          mm                                        --MM  ++##                            
                                                ##                                                        ####                              
                                              ##++                                                      ##--                                
                                            ##----          ####                                    ####                                    
                                          ##------        ..##                                  MM##::..                                    
                                          ####----            ##                            ####    ##--                                    
                                          MM##----          --  @@##mm            --########  ##      ::                                    
                                          ##------          MM@@##    ############  ##      ##@@                                            
                                        ##--------          ::        ++  ##      ####      ##                                              
                                        ##----------                    ##        ##        ##                                              
                                        ##----------                                        ##                                              
                                        ##------------                                      ####                                            
                                        ####--------------                                  ##++                                            
                                          ##------------------                              ##                                              
                                            ##------------------..                        --##                                              
                                            mm##..--------------------                    ----##                                            
                                              ####----------------------------          ------####                                          
                                                --##::--------++######@@##------------------####                                            
                                                    ####----##++MM--..----##------------@@##++                                              
                                                ####  ++####            --##--------######                                                  
                                              ####  ##mm  ##    ##    ##  ##@@######@@    ##                                                
                                    MM##    ####  @@########  ####  ::##  ####..        ..##mm                                              
                                      ########    ##MM  ####  ####  ####..##            ######                                              
                                        ####    ####@@    ####  ####################::  ########                                            
                                              mm##@@####  ####++##########  ##############  ++##                                            
                                              ####          ######  MM##    mm##  ####  ##    ####                                          
                                              ####@@      ++####      ##    --##  @@##          ..                                          
                                                mm##    mm######      ##      ##    ####                                                    
                                                      mm####  ####    ##    --##    ..##                                                    
                                                        ..    ####    ##########                                                            
                                                                MM        ##                                                                
    </script>

    <div>
        <p>Oiii</p>
    </div>

</div>